---
import type { Props } from "@astrojs/starlight/props";
import { Code } from "@astrojs/starlight/components";
import CTA from "@astrojs/starlight/components/CallToAction.astro";
import { heroVideoUrl } from "../../utils";

const {
  entry: {
    data: { title, hero },
  },
} = Astro.props;
---

<div
  class="grid gap-8 pb-12 [padding-top:clamp(2.5rem,_calc(1rem+10vmin),_6rem)]"
>
  <div class="mx-auto grid max-w-3xl gap-4 text-center md:text-balance">
    <h1
      class={`
        font-semibold leading-[--sl-line-height-headings] text-[--sl-color-white]
        [font-size:clamp(var(--sl-text-3xl),_calc(0.25rem+5vw),_var(--sl-text-6xl))]
      `}
    >
      {title}
    </h1>
    <p
      class="[font-size:clamp(var(--sl-text-base),_calc(0.0625rem+2vw),_var(--sl-text-xl))]"
    >
      {hero?.tagline}
    </p>
  </div>
  <div class="flex justify-center">
    <video
      preload="auto"
      muted
      loop
      playsinline
      autoplay
      class="w-full max-w-[46rem] rounded"
    >
      <source src={heroVideoUrl} />
    </video>
  </div>
  <div class="mt-4 hidden md:mx-auto md:block md:max-w-3xl">
    <Code
      code={`npx create-remix@latest --template frontvibe/fluid`}
      lang="sh"
      frame="none"
    />
  </div>
  <div class="flex items-center justify-center gap-8">
    {
      hero?.actions.map((action) => (
        <CTA variant={action.variant} link={action.link} icon={action.icon}>
          {action.text}
        </CTA>
      ))
    }
    <CTA
      icon={{ name: "external", type: "icon" }}
      variant={"minimal"}
      attrs={{ target: "_blank", rel: "noopener noreferrer" }}
      link="https://fluid-demo.frontvibe.com"
    >
      View demo
    </CTA>
  </div>
</div>
